.bruh{
    color: white;
}
.all-user{
    width: 700px;
    display : flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:row;
    margin:0 auto 0;
}
.username{
    text-align:center;
    margin-top: 250px;
}
