.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.home-back {
  height: 600px;
  width: 1000px;
  top: 45px;
  left: 470px;
  right: 500px;
  background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194375/279348_szqhlk.jpg");
  animation: chbg 10s infinite alternate;
  background-size: 1000px 700px;
  background-repeat: no-repeat;
  align-self: center;
}

@keyframes chbg {
  0% {
    background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194346/nachi-shrine-japan-GettyImages-640039952_xk2z22.jpg");
    background-size: 1000px 700px;
    background-repeat: no-repeat;
    align-self: center;
  }
  30% {
    background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194375/279348_szqhlk.jpg");
    background-size: 1000px 700px;
    background-repeat: no-repeat;
    align-self: center;
  }
  57% {
    background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194443/Arashiyama_GettyImages-540757494_azr77c.jpg");
    background-size: 1000px 700px;
    background-repeat: no-repeat;
    align-self: center;
  }

  100% {
    background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194852/yuichi-yokota-tokyo-snow-photo-12_suoca6.jpg");
    background-size: 1000px 700px;
    background-repeat: no-repeat;
    align-self: center;
  }
}

.container2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.first {
  height: 400px;
  width: 400px;
}
.second {
  height: 400px;
  width: 400px;
}
.third {
  height: 400px;
  width: 400px;
}
.patrickNo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 400px;
  width: 100%;
  margin-top: 10px;
}
.left {
  position: absolute;
  top: bottom 400px;
  border-radius: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.596);
}
.yo {
  position: absolute;
  top: 150px;
  border-radius: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.596);
}
#ann {
    font-size: 16px;
    color: #5E02A4;
    color: -moz-linear-gradient(left, #5E02A4 0%, #892DCB 50%, #AD2A93 100%);
    color: -webkit-linear-gradient(left, #5E02A4 0%, #892DCB 50%, #AD2A93 100%);
    color: linear-gradient(to right, #5E02A4 0%, #892DCB 50%, #AD2A93 100%);
    padding: 10px;
    margin-bottom:5px;
  border-radius: 10px;
  text-decoration: none;
}
.links{
  font-size: 16px;
  color: #5E02A4;
  color: -moz-linear-gradient(left, #5E02A4 0%, #892DCB 50%, #AD2A93 100%);
  color: -webkit-linear-gradient(left, #5E02A4 0%, #892DCB 50%, #AD2A93 100%);
  color: linear-gradient(to right, #5E02A4 0%, #892DCB 50%, #AD2A93 100%);
  padding: 10px;
  margin-bottom:5px;
border-radius: 10px;
text-decoration: none;
}
a{
    text-decoration:none
}

@media screen and (min-width: 2499px){
  .home-back {
    height: 800px;
    width: 1400px;
    top: 45px;
    left: 470px;
    right: 500px;
    background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194375/279348_szqhlk.jpg");
    animation: chbg 10s infinite alternate;
    background-size: 1400px 800px;
    background-repeat: no-repeat;
    align-self: center;
  }

  @keyframes chbg {
    0% {
      background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194346/nachi-shrine-japan-GettyImages-640039952_xk2z22.jpg");
      background-size: 1400px 800px;
      background-repeat: no-repeat;
      align-self: center;
    }
    30% {
      background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194375/279348_szqhlk.jpg");
      background-size: 1400px 800px;
      background-repeat: no-repeat;
      align-self: center;
    }
    57% {
      background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194443/Arashiyama_GettyImages-540757494_azr77c.jpg");
      background-size: 1400px 800px;
      background-repeat: no-repeat;
      align-self: center;
    }

    100% {
      background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194852/yuichi-yokota-tokyo-snow-photo-12_suoca6.jpg");
      background-size: 1400px 800px;
      background-repeat: no-repeat;
      align-self: center;
    }
  }

  .first {
    height: 500px;
    width: 500px;
  }

  .second {
    height: 500px;
    width: 500px;
  }

  .third {
    height: 500px;
    width: 500px;
  }
}

@media screen and (max-width: 1441px){
  .home-back {
    margin-top: 40px;
    height: 500px;
    width: 800px;
    top: 75px;
    left: 470px;
    right: 500px;
    background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194375/279348_szqhlk.jpg");
    animation: chbg 10s infinite alternate;
    background-size: 1000px 580px;
    background-repeat: no-repeat;
    align-self: center;
  }
  @keyframes chbg {
    0% {
      background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194346/nachi-shrine-japan-GettyImages-640039952_xk2z22.jpg");
      background-size: 1000px 580px;
      background-repeat: no-repeat;
      align-self: center;
    }
    30% {
      background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194375/279348_szqhlk.jpg");
      background-size: 1000px 580px;
      background-repeat: no-repeat;
      align-self: center;
    }
    57% {
      background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194443/Arashiyama_GettyImages-540757494_azr77c.jpg");
      background-size: 1000px 580px;
      background-repeat: no-repeat;
      align-self: center;
    }

    100% {
      background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194852/yuichi-yokota-tokyo-snow-photo-12_suoca6.jpg");
      background-size: 1000px 580px;
      background-repeat: no-repeat;
      align-self: center;
    }
  }

  .first {
    height: 300px;
    width: 400px;
  }

  .second {
    height: 300px;
    width: 400px;
  }

  .third {
    height: 300px;
    width: 400px;
  }
}
/*/