.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.home-back {
  height: 600px;
  width: 1000px;

  top: 45px;
  left: 470px;
  right: 500px;
  background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194375/279348_szqhlk.jpg");
  animation: chbg 10s infinite alternate;
  background-size: 1000px 700px;
  background-repeat: no-repeat;
  align-self: center;
}

@keyframes chbg {
  0% {
    background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194346/nachi-shrine-japan-GettyImages-640039952_xk2z22.jpg");
    background-size: 1000px 700px;
    background-repeat: no-repeat;
    align-self: center;
  }
  30% {
    background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194375/279348_szqhlk.jpg");
    background-size: 1000px 700px;
    background-repeat: no-repeat;
    align-self: center;
  }
  57% {
    background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194443/Arashiyama_GettyImages-540757494_azr77c.jpg");
    background-size: 1000px 700px;
    background-repeat: no-repeat;
    align-self: center;
  }

  100% {
    background-image: url("https://res.cloudinary.com/dveuedvvm/image/upload/v1637194852/yuichi-yokota-tokyo-snow-photo-12_suoca6.jpg");
    background-size: 1000px 700px;
    background-repeat: no-repeat;
    align-self: center;
  }
}

.container2 {
  height: 100%;
  width: 1000px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}
.first {
  height: 400px;
  width: 400px;
}
.second {
  height: 400px;
  width: 400px;
}
.third {
  height: 400px;
  width: 400px;
}
