.container3 {
    display: flex;
    margin-top: 200px;
    float:left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:unset;
    height: 800px;
    width: 800px;
    white-space: nowrap;
    overflow-y: hidden;
  }
  .container3:hover{
      overflow-y: scroll;
  }


  .pho{
      border-bottom: 1px solid whitesmoke;
      float: left;
      left:20px;
      height:200px;
      width:400px;
  }
.map{
    position:absolute;
    top:130px;
    right:165px;
}
.bleh{
    margin-top:10px;
    height: 400px;
    width:400px;
    border:1px solid whitesmoke;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
.jacob{
    color: whitesmoke;
    margin-bottom: 40px;
    text-align: unset;
    float:right;
    overflow: hidden;
}

.fourtwentysixtynine{
    padding-top: 5250px;
}
.cuck{
    position: relative;
    top:100px;
    left:200px;
}

@media screen and (max-width: 1280px) {
    .map{
     position: absolute;
     top:130px;
     right: 0;

   }

 }
 @media screen and (max-width: 1280px) {
   .container3{
      width: 450px;
       margin-top: 200px;
   }
 }
 @media screen and (max-width: 1280px) {
    .cuck-title{
      position: absolute;
      width:400px;
    left : -200px;
    top:-50px;
    }
  }
