.container3 {
    display: flex;
    position:absolute;
    float:left;
    top:150px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap:unset;
    height: 100%;
    width: 50%;
  }


  .pho{
      margin:20px;
      left:20px;
      height:200px;
      width:400px;
  }
.map{
    position:absolute;
    top:130px;
    right:165px;
}
.bleh{
    display: flex;
    flex-direction: row;
}
