#navbar {
  height: 35px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: solid 2px black;
  margin:0 197px;
}
.profile{
width: 50%;
}
#left{
display: flex;
justify-content: flex-start;
text-decoration: none;
}
#nav{
font-size: 25px;
letter-spacing: 0px;
word-spacing: 0px;
color: whitesmoke;
}
#fu{
font-size: 25px;
letter-spacing: 0px;
word-spacing: 0px;
color: whitesmoke;
}
.sam{
  position: absolute;
  top: 5px;
  left: 10px;
}
.profile-dropdown{
  color: whitesmoke;

}
.row{
  display : flex;
  flex-direction: row;
  justify-content: center;

}
.giveitaname{
  margin-top:-15px;
}

.icons{
  height:15px;
  width:15px;


}
.nnnn{
  position: relative;
  height:15px;
  width:15px;
  right:31px;
  top: 3px;
   background-color: transparent;
}
.nnnn:hover{
  background-color:transparent;
}
.samscool{
  padding-right: 20px;
}

@media screen and (min-width: 2499px){
  #navbar {
    height: 95px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: solid 2px black;
    margin:0 197px;
  }

  #fu{
    font-size: 45px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: whitesmoke;
    }

    .the-demo{
      font-size: 23px;
    }

  .your-page{
    font-size: 22px;
  }

  .log-out{
    font-size: 23px;
  }

  .host-now{
    font-size: 23px;
  }

  .samscool{
    padding-right: 20px;
    font-size: 22px;
  }

  .the-bnb{
    width: 170px;
  }
}

@media screen and (max-width: 1439px){
  #navbar {
    height: 95px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: solid 2px black;
    margin:0 197px;
  }
}
/*/