.SongForm{
    font-size: 20px;
    z-index: 2;
}


@media screen and (min-width: 2499px){
    .SongForm{
        font-size: 20px;
        z-index: 2;
    }

    .input-form{
        margin-left: 10px;
        font-size: 20px;
    }
}
